.groups-header {
  font-size: 16px;
  font-weight: normal;
  color: #555555;
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  margin-bottom: 10px;
}

.open-create-group-modal-button-div {
margin-left: auto;
}

.open-create-group-modal-button-div>.open-create-group-modal-button {
  margin-top: 0px;
  padding: 5px 5px;
  font-size: 12px;
  color: white;
  background-color: #1abc9c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
