.unread-badge {
  display: inline-block;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
