.group-deets-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  background-color: #f0f4f8;
  margin-left: 100px;
  margin-bottom: 20px;
  height: fit-content;
}

.group-deets-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.group-picture-container {
  flex-shrink: 0;
}

.group-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ecf0f1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.group-info {
  flex: 1;
}

.group-name-edit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
}

.group-name-in-group-deets {
  font-size: 24px;
  font-weight: 700;
  color: #34495e;
}

.group-actions-dropdown {
  position: relative;
  display: inline-block;
}

.group-actions-dropdown.show .dropdown-content-in-group-details {
  display: block;
}

.dropdown-btn {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-btn:hover {
  background-color: #ec971f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content-in-group-details>.dropdown-content-group-details {
  margin-top: 3px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  width: 110px;
  display: block;
  gap: 5px;
}

.dropdown-content-in-group-details {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;

}

.dropdown-content button {
  width: 100%;
  background-color: transparent;
  color: #34495e;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  transition: background-color 0.3s ease;
  margin-top: 0;
}

.dropdown-content button:hover {
  background-color: #ec971f;
}

.members-header {
  padding-bottom: 10px;
  color: #7f8c8d;
}

.group-member-avatars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.member-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin: 0 5px;
}

.member-name {
  margin: 0 5px;
}

.more-members {
  background-color: #ecf0f1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #7f8c8d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.group-member-names {
  margin-top: 10px;
  font-size: 14px;
  color: #7f8c8d;
}

.expenses-section-group-deets {
  margin-top: 20px;
}

.expense-item-in-group-deets {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.expense-details-in-group-deets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #34495e;
}

.expense-details-in-group-deets span {
  margin-right: 10px;
}

.payments-in-group-deets {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ecf0f1;
}

.payments-in-group-deets h4 {
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 10px;
}

.payment-item {
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-right: 50px;
  font-size: 14px;
  color: #7f8c8d;
}

.payment-item span {
  display: block;
  margin-bottom: 5px;
}

.payment-item span:last-child {
  margin-bottom: 0;
}

.feed-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-right: 60px;
}

.feed-header h3 {
  margin: 0;
  font-size: 24px;
  color: #2c3e50;
}

.feed-header button {
  margin-left: 20px;
  padding: 8px 16px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.feed-header button:hover {
  background-color: #16a085;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payments-feed {
  margin-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.open-add-expense-button-div>.open-add-expense-button {
  margin-left: 20px;
  padding: 8px 16px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 0;
}

.payment-item-top {
display: flex;
justify-content: space-between;
margin-bottom: 5px;
}

.payment-description {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.payment-payer-name {
  color: #555;
  font-weight: bold;
}
.payment-paid-by {
  display: flex;
  gap: 5px;
}
.someone-made-payment {
  color: #1abc9c;
}

.payment-item-bottom {
  display: flex;
  justify-content: space-between;

}
