/* General sitewide styles */
.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  margin-left: 270px;
  background-color: #f0f4f8;
}

.main-content.sidebar-closed {
  margin-left: 0;
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
}

.sidebar-toggle.closed {
  left: 10px;
}

.sidebar-toggle.open {
  left: 250px;
}

.sidebar-toggle:hover {
  background-color: #f0f0f0;
  color: #007aff;
}
